/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { justify-content: center; display: flex; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; border-right: 50px solid black; border-left: 50px solid black; align-items: center;}
