<nav>
  <div class="headline">
    <h1>Todo List App</h1>
  </div>
  <i class="fa-solid fa-square-plus" (click)="addItem()" style="font-size: 24px; cursor: pointer;"></i>
  <div class="edit-container">
    <div *ngIf="alert"  class="alert alert-success" role="alert">
      {{ alertMessage }}
    </div>
    
    <div *ngIf="changeName" class="operation">
      <div>
      <input [(ngModel)]="inputValue" class="form-control" placeholder="Change Name" style="width: auto;" type="text">
      <span *ngIf="validateDisplay" style="color: red;">{{validate}}</span>
      </div>
      <i class="fa-solid fa-square-check" (click)="UpdateToDatabase()" style="font-size: 24px; cursor: pointer;"></i>
      <i class="fa-solid fa-circle-xmark" (click)="cancel()" style="font-size: 24px; cursor: pointer;"></i>
    </div>
    
    <div *ngIf="add" class="operation">
      <div>
      <input [(ngModel)]="inputValue" class="form-control" placeholder="Name task" style="width: auto;" type="text">
      <span *ngIf="validateDisplay" style="color: red;">{{validate}}</span>
      </div>
      <i class="fa-solid fa-circle-plus" (click)="addToDatabase()" style="font-size: 24px; cursor: pointer;"></i>
      <i class="fa-solid fa-circle-xmark" (click)="cancel()" style="font-size: 24px; cursor: pointer;"></i>
    </div>
  </div>
</nav>
<div class="main">  
  <div class="example-container">
    <div class="div1">
      <h2>To do</h2><div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop1($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.work}}
        <i class="fa-regular fa-pen-to-square" (click)="changeItem(item)" style="font-size: 22px; cursor: pointer;"></i>
        <i class="fa-solid fa-circle-xmark" (click)="deleteItem(item.id)" style="font-size: 24px; cursor: pointer;"></i>
      </div>
      </div>
    </div>
  </div> 
  <div class="example-container">
    <div class="div1">
      <h2>Done</h2>
      <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop2($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.work}}
        <i class="fa-regular fa-pen-to-square" (click)="changeItem(item)" style="font-size: 22px; cursor: pointer;"></i>
        <i class="fa-solid fa-circle-xmark" (click)="deleteItem(item.id)" style="font-size: 24px; cursor: pointer;"></i>
      </div>
      </div>
    </div>
  </div>
</div>
